<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>/WEB-INF/jsp/accueil.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>AffichageDetailsArticle</servlet-name>
        <servlet-class>com.eniencheres.servlet.AffichageDetailsArticle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AffichageDetailsArticle</servlet-name>
        <url-pattern>/AffichageDetailsArticle</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListeEncheres</servlet-name>
        <servlet-class>com.eniencheres.servlet.listeEncheres</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListeEncheres</servlet-name>
        <url-pattern>/ListeEncheres</url-pattern>
    </servlet-mapping>

</web-app>